@model List<GLMS.Models.ViewModels.ServiceRequestViewModel>

<h2>Service Requests</h2>

<a class="btn btn-primary" href="/ServiceRequests/Create?contractId=1">
    Create Request
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Contract ID</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContractId</td>
                <td>@item.Description</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>