@model List<GLMS.Models.ViewModels.ServiceRequestViewModel>

<h2>Service Requests</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Client</th>
            <th>Contract</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClientName</td>
                <td>@item.ContractId</td>
                <td>@item.Description</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>