@model List<GLMS.Models.ViewModels.ContractViewModel>

<h2>Contracts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Client</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClientName</td>
            <td>
                <span class="badge bg-info">@item.Status</span>
            </td>
        </tr>
    }
    </tbody>
</table>